@page
@model TelerikAspNetCoreApp1.Pages.AboutModel
@{
    ViewData["Title"] = "About";
    Layout = "/Pages/Shared/_AppLayout.cshtml";
}

<div id="about" class="k-d-flex-col k-justify-content-between k-align-items-start" style="gap:2em; margin:2em; width:60%;">
    <h2>TelerikAspNetCoreApp1</h2>
    <p>
        TelerikAspNetCoreApp1 is a web app built with Progress award-winning
        <a href="https://www.telerik.com/aspnet-core-ui">Telerik UI for ASP.NET Core components</a> - 100+ UI components to help you build responsive websites and apps fast. Telerik UI for ASP.NET Core<sup>®</sup> offers components for every need - from the must-have for every app Grids, Dropdowns and Menus to the advanced line-of-business UI, such as Charts, Gantt, Diagram, Scheduler, PivotGrid and Maps.
    </p>

    <p>
        The sample app showcases some of the most popular Telerik UI for ASP.NET Core components, such as Grid, TileLayout, Form, Charts, Gauges, etc. in a real world scenario.
    </p>
    <p>
        <div class="section-white">
            <h3 class="section-title">Telerik UI for ASP.NET Core components</h3>
                <ul class="col-xs-4">
                    <li>
                        <a href="https://demos.telerik.com/aspnet-core/grid">Grid</a>
                    </li>
                    <li>
                        <a href="https://demos.telerik.com/aspnet-core/charts">Charts</a>
                    </li>
                    <li>
                        <a href="https://demos.telerik.com/aspnet-core/tilelayout">TileLayout</a>
                    </li>
                    <li>
                        <a href="https://demos.telerik.com/aspnet-core/drawer">Drawer</a>
                    </li>
                    <li>
                        <a href="https://demos.telerik.com/aspnet-core/form">Form</a>
                    </li>
                    <li>
                        <a href="https://demos.telerik.com/aspnet-core/appbar">AppBar</a>
                    </li>
                    <li>
                        <a href="https://demos.telerik.com/aspnet-core/circular-gauge">Circular Gauge</a>
                    </li>
                </ul>
        </div>
    </p>
</div>